.parallax{
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
/*Fill in with image links*/
.parallax-0{
    background-image: url("../img/fitness-594143_1920.jpg");
}